<!-- footer.component.html -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="social-links">
                <a *ngFor="let link of socialLinks" [href]="link.url" target="_blank" rel="noopener noreferrer"
                    [attr.aria-label]="link.name" class="social-link">
                    <i-feather [name]="link.icon"></i-feather>
                </a>
            </div>
            <div class="copyright">
                <p>© {{currentYear}} Karthik S Kashyap. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>