<nav class="navbar">
  <div class="wrapper">
    <div class="nav-content">
      <div class="logo">KK.</div>
      <div class="links">
        <ul class="nav-links">
          <li><a href="#hero" (click)="scrollToSection('hero')" [class.active]="activeSection === 'hero'">Home</a></li>
          <li><a href="#about" (click)="scrollToSection('about')" [class.active]="activeSection === 'about'">About</a>
          </li>
          <!-- <li><a href="#experience" (click)="scrollToSection('experience')"
              [class.active]="activeSection === 'experience'">Experience</a></li> -->
          <li><a href="#projects" (click)="scrollToSection('projects')"
              [class.active]="activeSection === 'projects'">Projects</a></li>
          <li><a href="#blog" (click)="scrollToSection('blog')" [class.active]="activeSection === 'blogs'">Blog</a></li>
          <!-- <li><a href="#contact" (click)="scrollToSection('contact')"
              [class.active]="activeSection === 'contact'">Contact</a></li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="theme-toggle">
    <button (click)="toggleTheme()">
      <i class="fa fa-moon" *ngIf="isDarkTheme"></i>
      <i class="fa fa-sun" *ngIf="!isDarkTheme"></i>
    </button>
  </div> -->
  </div>

</nav>




<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">KK.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/timeline">Timeline</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->