.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-darker);
    position: relative;
    overflow: hidden;
    color: var(--cream-muted);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--bg-darker);
    position: relative;
    overflow: hidden;
    color: var(--cream-muted);
}

.hero-content {
    // max-width: 1200px;
    margin: 0 auto;
    // padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: var(--inter-font);
    line-height: 1.2;
}

.hero-text p {
    font-size: 1.25rem;
    color: var(--cream-muted);
    font-family: var(--jetbrains-font);
}

.hero-image {
    position: relative;
    height: 500px;
    background: #333;
    border-radius: 10px;
}

// .card {
//     background: var(--bg-secondary);
//     border: 1px solid var(--divider);
//     padding: 20px;
//     margin: 20px 0;
//     border-radius: 10px;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
// }