<!-- Hero Section -->
<section class="hero" id="home">
  <div class="wrapper">

    <div class="hero-content">
      <div class="hero-text">

        <h1>Hi, I'm Karthik</h1>
        <p>A Software Developer crafting robust and scalable solutions with modern technologies.</p>
        <br>
        <p>
          I'm currently building <a class="external-link" href="https://app.syncable.in"
            target="_blank"><strong>Syncable</strong>&nbsp;<i-feather name="external-link"></i-feather></a>, a
          ticketing
          application designed to streamline event and studio management.
        </p>

      </div>
      <div class="hero-image">
        <!-- Placeholder for your image -->
        <img src="assets/Headshot.jpeg" alt="" width="100%" height="100%" style="object-fit: cover;">
      </div>
    </div>
  </div>

</section>