.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-darker);
    position: relative;
    overflow: hidden;
    color: var(--cream-muted);
    padding: 2rem;
}

.hero-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: var(--inter-font);
    line-height: 1.2;
}

.hero-text p {
    font-size: 1.25rem;
    color: var(--cream-muted);
    font-family: var(--jetbrains-font);
}

.hero-image {
    position: relative;
    height: 450px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.external-link {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    // align-items: center;
    // // gap: 0.25rem;
}

i-feather {
    color: var(--accent);
    width: 18px;
    height: 18px;
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
    .hero-content {
        gap: 2rem;
    }

    .hero-text h1 {
        font-size: 2.75rem;
    }

    .hero-text p {
        font-size: 1.1rem;
    }

    .hero-image {
        height: 400px;
    }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .hero {
        margin-top: 5rem;
        padding: 1rem;
        min-height: auto;
    }

    .hero-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2.25rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .hero-image {
        height: 300px;
        order: -1;
        /* Moves image above text on mobile */
    }
}

/* Small Mobile Styles */
@media screen and (max-width: 480px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-image {
        height: 250px;
    }
}